@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #33364d;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

// Navbar
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  border-bottom: solid 3px $primary-color;
  // opacity: 0.9;

  .logo {
    width: 10%;
    text-align: left;
  }

  img {
    max-height: 4rem;
    margin-left: 1rem;
  }

  .links {
    width: 60%;
    // margin: 0 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  a {
    color: #fff;

    &:hover {
      color: $primary-color;
    }
  }

  .current a {
    color: lighten($primary-color, 15%);
    font-weight: bold;
  }

  .search {
    width: 30%;
    display: flex;
  }

  input[type='text'] {
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1.1rem;
    width: 80%;
    padding: 4px 10px;
    margin: 0;
  }

  .search-btn {
    cursor: pointer;
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dedede;
    font-size: 1.1rem;
    padding: 4px 10px;
    margin: 0;
  }
}

// Main Container
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 1rem;
    border-radius: 0.3rem;

    p {
      text-align: left;
    }
  }

  .col-left,
  .col-right {
    flex-basis: 20%;

    .infographics,
    .sticky-dummy {
      align-self: baseline;
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
    }

    .infographics img,
    .sticky-dummy img {
      width: 50%;
    }

    .round-img {
      width: inherit;
      border-radius: 50%;
    }

    .content-right img {
      width: 90%;
    }
  }

  .col-middle {
    flex-basis: 50%;

    .card-inner {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    video {
      width: 100%;
      height: auto;
      border-radius: 0.3rem;
    }

    .post-info {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $primary-color;
    }

    .critic-rating,
    .user-rating,
    .info-component {
      margin: 0 0.25rem;
    }

    .rating {
      display: inline-flex;
      font-family: 'Rowdies', cursive;
      color: #a19f9f;
      font-size: 1rem;
      margin: -1rem;
    }

    .critic-rating {
      #rating1,
      #rating2,
      #rating3,
      #rating4,
      #rating5 {
        color: red;
      }
    }

    .user-rating {
      #rating1,
      #rating2,
      #rating3,
      #rating4,
      #rating5,
      #rating6,
      #rating7 {
        color: red;
      }
    }
  }
}

@import 'mobile';
// @media all and (max-width: 800px) {
//   // Common
//   .hide-sm {
//     display: none;
//   }

//   // Navbar
//   nav {
//     display: flex;
//     height: 3rem;

//     .links {
//       flex: 1;
//     }

//     .search {
//       display: none;
//     }
//   }

//   // .container {
//   .container .col-middle {
//     flex-basis: 90%;
//   }
// }

// @media all and (max-width: 1100px) {
//   nav ul {
//     font-size: 0.9rem;
//   }

//   nav input[type='text'] {
//     font-size: 0.9rem;
//   }
// }
