@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #33364d;
  margin-top: 4.5rem;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

.round-img {
  width: inherit;
  border-radius: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
  border-radius: 0.3rem;

  p {
    text-align: left;
  }

  h2 {
    padding: 0 3rem;
  }
}

// Navbar
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  border-bottom: solid 3px $primary-color;
  max-height: 3.5rem;
  // opacity: 0.9;

  .logo {
    width: 10%;
    text-align: left;
  }

  img {
    max-height: 3.5rem;
    margin-left: 1rem;
  }

  .links {
    width: 60%;
    // margin: 0 0.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }

  a {
    color: #fff;

    &:hover {
      color: $primary-color;
    }
  }

  .current a {
    color: lighten($primary-color, 15%);
    font-weight: bold;
  }

  .search {
    width: 30%;
    display: flex;
  }

  input[type='text'] {
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1.1rem;
    width: 80%;
    padding: 4px 10px;
    margin: 0;
  }

  .search-btn {
    cursor: pointer;
    border-radius: 0;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dedede;
    font-size: 1.1rem;
    padding: 4px 10px;
    margin: 0;
  }
}

// Main Container
.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  // margin-top: 4.5rem;

  .col-left,
  .col-right {
    flex-basis: 20%;

    .infographics,
    .sticky-dummy,
    .statistics,
    .post-pub {
      align-self: baseline;
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
    }

    .infographics img,
    .sticky-dummy img {
      width: 50%;
    }

    .content-right img {
      width: 90%;
    }

    a {
      color: #333;

      &:hover {
        color: $primary-color;
        font-weight: bold;
      }
    }

    // Table

    table {
      border-spacing: 20px;

      td {
        text-align: left;
      }

      td:nth-child(1) {
        border-right: 1px solid #333;
      }
    }

    // Publication Page Rating
    .publication-expert-rating,
    .publication-user-rating {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .rating {
        display: inline-flex;
        font-family: 'Rowdies', cursive;
        color: #a19f9f;
        font-size: 2rem;
        margin: -1rem;
      }

      #pcr1,
      #pcr2,
      #pcr3,
      #pcr4,
      #pcr5 {
        color: red;
      }

      #pur1,
      #pur2,
      #pur3,
      #pur4,
      #pur5,
      #pur6,
      #pur7 {
        color: red;
      }
    }

    .rating-breakup {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-bottom: 1px solid #a19f9f;

      .meter {
        flex-basis: 60%;
        height: 1rem; /* Can be anything */
        position: relative;
        background: #a19f9f;
        border-radius: 0.5rem;

        span {
          display: block;
          height: 100%;
          background-color: lighten($dark-color, 15%);
          border-radius: 0.5rem;
        }
      }
    }

    .expert-rating-breakup .meter span {
      display: block;
      height: 100%;
      background-color: $primary-color;
      border-radius: 0.5rem;
    }
  }

  .col-middle {
    flex-basis: 50%;

    h3 {
      text-align: left;
    }

    a {
      color: #333;

      &:hover {
        color: $primary-color;
        font-weight: bold;
      }
    }

    .card-inner {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    video {
      width: 100%;
      height: auto;
      border-radius: 0.3rem;
    }

    img {
      width: 80%;
    }

    ol li {
      text-align: left;
      padding-left: 3rem;
      margin-left: 1rem;
    }

    .post-info {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $primary-color;
    }

    .critic-rating,
    .user-rating,
    .info-component {
      margin: 0 0.25rem;
    }

    .rating {
      display: inline-flex;
      font-family: 'Rowdies', cursive;
      color: #a19f9f;
      font-size: 1rem;
      margin: -1rem;
    }

    .critic-rating {
      #rating1,
      #rating2,
      #rating3,
      #rating4,
      #rating5 {
        color: red;
      }
    }

    .user-rating {
      #rating1,
      #rating2,
      #rating3,
      #rating4,
      #rating5,
      #rating6,
      #rating7 {
        color: red;
      }
    }
  }
}

// Profile
.profile-banner {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;

  div {
    // border: 3px #ccc solid;
    padding: 0 3rem;
  }

  .checked {
    color: orange;
  }

  .affiliation {
    h3,
    h2 {
      text-align: right;
    }
  }
}

// Trending Stream selection

.select-stream {
  display: flex;
  justify-content: center;

  select {
    background-color: #ffffff;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 0 2rem;
    padding: 0.3rem 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    // appearance: none;
  }
}

@import 'mobile';
